.home {
    background-color: #f8f9fa;
}

.about {
    background-color: #fff;
}

.contact {
    background-color: #f8f9fa;
}

.navbar {
    padding-left: 35px;
    padding-right: 35px;
    height: 80px;
}

main {
    margin-top: 80px;
    min-height: 70vh;
}

.project-span {
    font-family: Nunito;
    font-size: 25px;
    font-weight: 400;
    color: #828282;
    /* paragraph-spacing: 24px; */
}

.project-details-odd {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0;
}

.project-img-odd {
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.project-details-even {
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.project-img-even {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0;
}

@media (min-width: 998px) {
    .project-details-odd {
        border-top-right-radius: 0;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .project-img-odd {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 0;
    }

    .project-details-even {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 0;
    }

    .project-img-even {
        border-top-right-radius: 0;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}